body{
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.iconos{
    padding-left: 49%;
    padding-right: 47%;
    padding-top: 2%;
    padding-bottom: 2%;
}
.textoIcono{
    font-size: 16px;
    font-weight: 300;
}
.cartas img{
    height: 200px;
}
.card{
    background-color: #0fbbdd;
    border-color: white;
  
}
.formulario button{
    color: white;
    border-radius: 5%;
    border-color: white;
}
.logofinal{
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}
.socialm{
    text-align: center;
}